.abas{
    justify-content: end;
    font-size: 3rem;
    font-weight: bold;    
    padding-right: 2em;
    align-items: flex-end;
}
.body__aba{
    border: 2px solid var(--preto);
    border-radius: 0 20px 0 0;
    padding: .1em .5em;
    background-color: var(--pasta-suspensa);    
}
.body__aba:hover{
    transform: scale(1.02);
}
.abas a{
    text-decoration: none;
    color: var(--marron-rodape);
}
.abas a:active{
    color: var(--capa-do-livro);
    text-decoration: overline;
}
.aba-ativa{
    font-size: 4rem;    
}