.container__cabecalho{
    flex-direction: column;    
    align-items: center;
    padding: 1em 0;
    row-gap: 1em;
    background: linear-gradient(326deg, rgba(64,36,1,1) 28%, rgba(115,86,52,1) 100%);
    border: .5em groove #CC7204;
}
.cabecalho__logo{
    width: 90%;
}
.cabecalho__logo a{
    width: 100%;
}
.cabecalho__logo img{
    width: 100%;
}
.cabecalho__botoes{
    column-gap: .2em;
}
.cabecalho__botao{        
    text-align: center; 
}
.cabecalho__botao button{
    width: 120px;
    height: 22px;
    background-color: var(--marron-rodape);
    border: none;    
    background-size: 100%;
    font-size: 10px;
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--marron-rodape);
    box-shadow: 1px 0 9px grey;
}
.cabecalho-sair{
    background-image: url(../img/sair.png);
}
.cabecalho-quemsomos{
    background-image: url(../img/quemsomos.png);
}
.cabecalho-configuracao{

    background-image: url(../img/configuracao.png);
}
