.container__cabecalho{
    flex-direction: column;    
    align-items: center;
    padding: 1em 0;
    row-gap: 1em;
    background: linear-gradient(326deg, var(--marrom-mais-claro) 28%, var(--pasta-suspensa) 100%);
}
.cabecalho__logo{
    width: 90%;
}
.cabecalho__logo a{
    width: 100%;
}
.cabecalho__logo img{
    width: 100%;
}
.cabecalho__botoes{
    column-gap: .5em;
}
.cabecalho__botao{        
    text-align: center; 
}
.cabecalho__botao button{
    width: 120px;
    height: 22px;    
    border: none;    
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--marron-rodape);
    color: var(--branco);
    box-shadow: 1px 0 9px var(--preto);
    border-radius: 10px;
}
.cabecalho__botao button:active{
    color: var(--marron-rodape-sombra-clara);
}

