.pesquisa{    
    display: flex;
    width: 10vw;   
    padding: .5em 1em;  
    column-gap: 2em;  
}
.pesquisa label{
    width: 24px;
    height: 24px;
}
.pesquisa__botao{
    width: 24px;
    height: 24px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;    
}
.container__cheackbox{
    display: none;
}
.container__cheackbox:checked~.pesquisa__container{
    display: none;    
}
.pesquisa__container{
    display: flex;
    height: 15vh;
    align-items: center;     
}
.pesquisa__input{
    height: 24px;
    width: 30vw;
    border: 3px solid var(--capa-do-livro);
    border-radius: 10px;
    text-align: center;
    background-color: var(--pasta-suspensa);
    color: var(--marron-rodape);
}
.pesquisa__input::placeholder{
    text-align: center;
    color: var(--marron-rodape);
}