@import url(header.css);
@import url(pesquisa-style.css);

:root{
    --branco:#ffffff;
    --cor-da-capa:#BF4F36;
    --cor-da-capa-mais-claro:#F29966;
    --cor-de-pasta-claro:#F2D8C9;
    --cor-de-pasta-escuro:#F2CA99;
    --marrom-logo:#a68776;
}
.container__grid{
    display: grid;
}
.container__flex{
    display: flex;
}
