@import url(header.css);
@import url(pesquisa-style.css);
@import url(footer.css);
@import url(abas.css);

:root{
    --branco:#ffffff;    
    --preto: #000000;
    --cinza:#d0d9d6;
    --capa-do-livro:#402401;
    --marrom-mais-claro:#735634;
    --pasta-suspensa:#d9c091;
    --beje-de-fundo:#bfa27e;
    --marron-rodape: #260b01;
    --marron-rodape-sombra-clara: #B33405;
}
body{
    font-size: 16px;
    background-color: var(--cinza);
}
.container__grid{
    display: grid;
}
.container__flex{
    display: flex;
}

